.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  background-color: rgb(143, 218, 159);
  background-color: transparent;
  border-radius: 1em 0 0 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}